#ad div, 
.blog_ad2, 
*[id^='Adstir'],
*[id^='adstir'],
.footer-ranking,
.footer-nav,
.linelive-ranking,
.footer-external-links,
.footer-addline-banner,
.footer-blog-banner {
  display: none !important;
}

table td,
table th {
  border: 1px solid #bbb;
  padding: 4px 8px;
}

table th {
  background-color: steelblue;
  color: white;
}


